[submodule "DarkMoon/3rd/spdlog"]
	path = DarkMoon/3rd/spdlog
	url = https://github.com/gabime/spdlog
[submodule "DarkMoon/3rd/GLFW"]
	path = DarkMoon/3rd/GLFW
	url = https://github.com/YangMengtao/glfw.git
[submodule "DarkMoon/3rd/imgui"]
	path = DarkMoon/3rd/imgui
	url = https://github.com/YangMengtao/imgui
[submodule "DarkMoon/3rd/glm"]
	path = DarkMoon/3rd/glm
	url = https://github.com/g-truc/glm.git
